<<<<<<< HEAD
#file-input {
  /* display: none; */

}
=======
#input {
  display: none;
}


.myImage {
    height: 50vh;
    width: 50vw;
}

#canvas {
    width: 780px;
}
>>>>>>> 0397320466fa7cac1d731604083527179c2e0116
